[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
sqlalchemy = "*"
tcl = "*"
tksheet = "*"
tkcalendar = "*"
python-dateutil = "*"
lz4 = "*"
pywin32 = "*"
Pillow = "*"
pypubsub = "*"

[requires]
python_version = "3.8"
